nav {
	position: fixed;
	z-index: 200;
}

body {
    padding: 0;
    margin: 0;
}
#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color: red;
}
#sidebar {
    position: fixed;
    top: 0px;
    right : 0px;
    bottom: 0px;
    width: 200px;
    background-color: green;
    /*float: right;*/
}
#parent {
    margin-top: 50px;
    margin-right: 200px;
    background-color: blue;
}

	.summer {
			background-image: url(https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?h=350&auto=compress&cs=tinysrgb);
		}
		.autumn {
			background-image: url(https://images.pexels.com/photos/87646/horsehead-nebula-dark-nebula-constellation-orion-87646.jpeg?h=350&auto=compress&cs=tinysrgb);
		}
		.winter {
			background-image: url(https://images.pexels.com/photos/5439/earth-space.jpg?h=350&auto=compress&cs=tinysrgb);
		}
		.spring {
			background-image: url(https://images.pexels.com/photos/355465/pexels-photo-355465.jpeg?h=350&auto=compress&cs=tinysrgb);
		}