.darkVador {
/*	background-image: url("./../assets/darthvader_2x.jpg");*/
	background-color: #181818;
	width:100%;
	height:100%;
}

.footerDark {
	background-color: #181818;
}

.headerStar {
	background-image: url("./../assets/header-bg-2x.png");
	padding-top: 15%;
}

#slide2 {
   background: url(./../assets/kiloren-2x.jpg) center 0 no-repeat fixed;
   width:100%;
	height: 1000px;
}

#slide3 {
   background: url(./../assets/stormtroopers-2x.jpg) center 0 no-repeat fixed;
   width:100%;
   height: 400px;
   z-index: 800;
  

}

.headerV {
	padding-top: 10%;
}

nav {
	position: fixed;
	z-index: 200;
}

/*Propriété pour suivre le défilement du texte*/
.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 15px;
}